<script context="module">
  export function preload({ params, query }) {
    return this.fetch(`blog.json`)
      .then(r => r.json())
      .then(posts => {
        return { posts };
      });
  }
</script>

<script>
  export let posts;
  import Header from "../../components/Header.svelte";
  import Footer from "../../components/Footer.svelte";
  export let segment = "blog";
</script>

<style>
  .blog-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
  }
  .post-item-footer {
    font-family: Rubik, sans-serif;
    font-weight: 700;
  }

  .post-item-date {
    color: #aaa;
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  hr {
    border-color: dodgerblue;
    background-color: dodgerblue;
    color: rgb(232, 238, 243);
    margin: 20px;
  }
</style>

<svelte:head>
  <title>Blog</title>
</svelte:head>

<Header {segment} />
<div class="blog-container">
  <h1>Blog</h1>
  {#each posts as post, index}
    {#if index}
      <hr />
    {/if}
    <div class="post-item">
      <h2>
        <a rel="prefetch" href="blog/{post.slug}">{post.title}</a>
      </h2>
      <p>{post.excerpt}</p>
      <div class="post-item-footer">
        <span class="post-item-date">— {post.printDate}</span>
      </div>
    </div>
  {/each}
</div>
