<script context="module">
  export function preload({ params, query }) {
    return this.fetch(`index.json`)
      .then((r) => r.json())
      .then((posts) => {
        return { posts };
      });
  }
</script>

<script>
  export let posts;
  import Header from "../components/Header.svelte";
  import Footer from "../components/Footer.svelte";
  export let segment;
</script>

<svelte:head>
  <title>Sebastian's blog</title>
</svelte:head>

<Header {segment} />
<div class="home-container">
  <p class="home-intro-text">
    Welcome to my personal blog, where I try to write some ideas I have and also
    to remember the things I can do with technology. This blog will be my little
    oasis in the quest to improve my writting and grow my knowledge.
  </p>
  <p>
    There are two main sections of this blog. I write small tibits of learnings
    at
    <a href="til">TIL</a>
    . Then bigger essays can be found in
    <a href="blog">blog</a>
    .
  </p>
  <hr />
  <div class="home-post-container">
    <h2 class="home-post-container-title">Latest posts:</h2>
    {#each posts as post, index}
      {#if index <= 4}
        <a class="home-post-links" rel="prefetch" href="blog/{post.slug}">
          <div class="home-post-title">{post.title}</div>
          <div class="home-post-date">{post.printDate}</div>
        </a>
      {/if}
    {/each}
  </div>
</div>
<Footer />

<style>
  hr {
    border-color: dodgerblue;
    background-color: dodgerblue;
    color: dodgerblue;
  }
  .home-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
  }
  .home-intro-text {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .home-post-container {
    font-size: 1.2rem;
    padding: 20px 0 auto;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
  }
  .home-post-links {
    padding-bottom: 20px;
    align-self: baseline;
    font-size: 0.8rem;
    text-decoration: none;
    justify-content: space-between;
    flex-direction: row;
  }
  @media (min-width: 768px) {
    .home-container {
      flex: 1 0 25%;
    }
    .home-post-container {
      flex: 1 0 25%;
    }
  }
  .home-post-container-title {
    padding-bottom: 28px;
    margin: 0;
  }
  .home-post-title {
    font-size: 1.2rem;
  }
</style>
