<script context="module">
  export function preload({ params, query }) {
    return this.fetch(`til.json`)
      .then((r) => r.json())
      .then((posts) => {
        return { posts };
      });
  }
</script>

<script>
  export let posts;
  import Header from "../../components/Header.svelte";
  export let segment = "til";
  export const sortedPosts = posts
    .sort((a, b) => new Date(b.printDate) - new Date(a.printDate))
    .map((post) => post);
</script>

<svelte:head>
  <title>Today I learned</title>
</svelte:head>

<Header {segment} />
<div class="til-container">
  <h1>Today I learned</h1>
  <p class="til-intro-text">
    This is just a list of posts were I keep track of my progress as a user of
    this digital age. Anything that I found interesting and useful I write down.
    Hopefully, that as the years go by, I can have a nice collection of TILs.

    <img
      class="lucky-image"
      alt="you are one of the lucky 10000 people that learned something new"
      src="https://imgs.xkcd.com/comics/ten_thousand_2x.png"
    />
  </p>
  <div class="til-list">
    <div class="til-posts">
      {#each sortedPosts as post}
        <div class="post-container">
          {post.printDate}.
          {post.group}
          <a class="post-link" rel="prefetch" href="til/{post.slug}"
            >{post.title}</a
          >
        </div>
      {/each}
    </div>
  </div>
</div>

<style>
  .til-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
  }
  .til-intro-text {
    font-size: 1.4rem;
    line-height: 1.5;
  }
  .til-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media (min-width: 768px) {
    .post-container {
      flex: 1 0 25%;
    }
  }
  .post-link {
    color: black;
  }
  .post-container {
    color: grey;
    display: flex;
    flex-direction: column;
    font-size: 14pt;
    margin: 5px;
    padding: 10px;
  }
  .lucky-image {
    padding: 20px;
  }
</style>
