<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 3px solid #fd6378;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>

<div>
  <img src="profile-pic.png" alt="Sebastian Bolaños" />
  <p>
    Hi, I'm
    <strong>Sebastian.</strong>
    I'm a software developer from Costa Rica. You can follow me on
    <a href="https://www.twitter.com/sb_c64" target="_blank">Twitter.</a>
    I enjoy working on distributed systems.
  </p>
</div>
