<style>
  footer {
    color: #aaa;
    font-size: 1em;
    font-family: Rubik, sans-serif;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
  }
</style>

<footer>
  <span>
    Powered by
    <a href="https://sapper.svelte.dev" target="_blank">Sapper</a>
    .
  </span>
</footer>
