<script>
  let bigRadius = "50";
  let bigX = "60";
  let bigY = "60";
  let smallRadius = "5";
</script>

<style>
  img {
    width: 40px;
    height: 40px;
  }
</style>

<a href="/">
  <img src="favicon.png" alt="Hacker symbol" />
</a>
